<template>
  <div class="margins">
    <h1>Añadir nuevo producto</h1>
    <form>
      <div class="form-group">
        <label for="name">Nombre del producto * </label>
        <input type="text" name="name" v-model="product.name"/>
        <div class="error" v-if="validado && !$v.product.name.required">El campo nombre es requerido</div>
        <div class="error" v-if="validado && !$v.product.name.minLength">El campo debe tener minimo 5 caracteres</div>
      </div>
      <div class="form-group">
        <label for="description">Descripción del producto * </label>
        <textarea name="description" v-model="product.description"></textarea>
        <div class="error" v-if="validado && !$v.product.description.required">El campo descripción es requerido</div>
        <div class="error" v-if="validado && !$v.product.description.minLength">El campo debe tener minimo 20 caracteres</div>
      </div>
      <div class="form-group">
        <label for="price">Precio del producto * </label>
        <input type="number" name="price" v-model="product.price"/>
        <div class="error" v-if="validado && !$v.product.price.required">El campo precio es requerido</div>
        <div class="error" v-if="validado && !$v.product.price.numeric">Solo se permiten números</div>
      </div>
      <input type="submit" value="Enviar" class="btn btn-success" @click.prevent="enviar"/>
    </form>
  </div>
</template>
<script>
import { required, minLength, numeric } from 'vuelidate/lib/validators'
import axios from '../axios';
import {store} from '../store';
export default {
  name: "Formulario",
  data() {
    return {
      validado: false,
      product:{
          name: "",
          description: "",
          price: "",
      }
    };
  },
  validations: {
    product: {
      name:{
        required,
        minLength: minLength(5)
      },
      description:{
        required,
        minLength: minLength(20)
      },
      price:{
        required,
        numeric
      }
    }
  },
  methods: {
    enviar(){
        this.validado = true;
        this.$v.$touch();

        if(this.$v.$invalid){
          return false;
        }
        axios.addProd(this.product)
        .then((response) => {
          store.addNewProd(response.data)
        })
        .catch((error) =>
          console.error(
            "Error: " + (error.statusText || error.message || error)
          )
        );
        this.$router.push({ name: 'Productos'})
    }
  },
};
</script>
<style>
.error{
  color:red;
}
</style>