<template>
  <div class="margins">
    <h1>Aplicación realizada con Vue</h1>
    <p>Esta es una aplicación sencilla realizada con Vue para compararla con la misma aplicación creada con Angular</p>
  </div>
</template>
