<template>
  <div class="margins">
    <h1>Productos</h1>
    <div class="grid">
      <div v-for="(producto,index) in productos" :key="index">
        <producto :producto="producto"></producto>
      </div>
    </div>
  </div>
</template>
<script>
import Producto from "../components/Producto.vue";
import axios from '../axios';
import {store} from '../store';
export default {
  components: {
    Producto,
  },
  data() {
    return {
      productos:store.state.productos,
    };
  },
  methods: {
    getData() {
      axios.getProds()
        .then((response) => {
          store.loadAll(response.data)
        })
        .catch((error) =>
          console.error(
            "Error: " + (error.statusText || error.message || error)
          )
        );
    },
  },
  mounted() {
      this.getData();
  },
};
</script>

<style>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
</style>