<template>
  <div class="borders">
    <h4>{{producto.name}}</h4>
    <p>{{producto.description}}</p>
    <p>Precio: {{producto.price}}€</p>
    <button class="boton" @click.prevent="borrar" >Borrar Producto</button>
</div>
</template>

<script>
import axios from '../axios';
import {store} from '../store';
export default {
  name:"producto",
  props: ['producto'],
  methods: {
    borrar() {
      if(confirm(`Vas a borrar el producto "${this.producto.name}"`)){
        axios.deleteProd(this.producto.id)
        .then(() => {
          store.delProd(this.producto.id)
        })
        .catch((error) =>
          console.error(
            "Error: " + (error.statusText || error.message || error)
          )
        );
      }
    },
  },
}

</script>
<style>
.borders{
    padding: 5px;
    margin: 5px;
    border: solid black 3px;
    background-color: rgb(206, 206, 206);
}
.boton{
  background: red;
  color: #fff;
  border: solid black 1px;
  padding: 10px;
}
</style>
